{{ define "head" }}
{{ $cssOpts := (dict "targetPath" "css/resume.css" "enableSourceMap" true ) }}
{{ $styles := resources.Get "scss/resume.scss" | resources.ExecuteAsTemplate "style.resume.css" . | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
<script src="https://kit.fontawesome.com/8573c63d82.js" crossorigin="anonymous"></script>
{{ end }}
{{ define "content" }}
<a class="resume-download-link" target="_blank" href="/taleh_ibrahimli_resume.pdf">Download PDF</a>
<main class="resume">
  <header>
    <div class="profile">
      <span class="full-name">Taleh Ibrahimli</span>
      <span class="headline">Software Architect and Team Leader</span>
    </div>
    <div class="social-container">
            <span class="social-item"><i class="fa-brands fa-linkedin"></i>
              <a target="_blank"
                 href="https://www.linkedin.com/in/talehibrahimli/">in/talehibrahimli</a>
            </span>
      <span class="social-item"><i class="fa-solid fa-mobile"></i>+34600857686</span>
      <span class="social-item"><i class="fa-solid fa-safari"></i>
        <a target="_blank" href="https://talehibrahimli.com">talehibrahimli.com</a>
      </span>
      <span class="social-item"><i class="fa-solid fa-envelope"></i>
        contact@talehibrahimli.com
      </span>
      <span class="social-item"><i class="fa-brands fa-github"></i>
        <a target="_blank" href="https://github.com/tislib">Github</a>
      </span>
    </div>
  </header>
  <section>
    <div class="section-header">
      <span>Professional Summary</span>
      <hr/>
    </div>
    <div class="section-content">
      <p>
        Results-driven Software Architect and Team Leader with 10+ years in enterprise
        application development. Skilled in Java, Spring Framework, and Golang, with a strong passion for learning and
        adopting new technologies. Adept at designing scalable and robust software architectures. Holds a Bachelor's
        degree in Computer Science from Baku State University.
      </p>
    </div>
  </section>
  <section>
    <div class="section-header">
      <span>Skills</span>
      <hr/>
    </div>
    <div class="section-content">
      <ul>
        <li>
          <span class="skill-title">Programming Languages</span>
          <span class="skill-value">Java(8y), Golang(3y), JavaScript, TypeScript, Python, C, C++</span>
        </li>
        <li>
          <span class="skill-title">Frameworks & Technologies</span>
          <span class="skill-value">
            Spring Boot, Spring Security, Spring Webflux, RxJava, Netty, Reactor, Rest API, Grpc, Code Analysis with PMD, Checkstyle, SonarQube
          </span>
        </li>
        <li>
          <span class="skill-title">Cloud & DevOps</span>
          <span class="skill-value">AWS services, EC2, AWS Lambda, Aurora, Dynamodb, Neptune, EKS, ELB, Root53, VPC, ElasticCache, Cognite, SQS,  Docker, Kubernetes, Terraform</span>
        </li>
        <li>
          <span class="skill-title">Web Development</span>
          <span class="skill-value">JavaScript (Angular, ReactJS), Frontend (Angular, Ionic, jQuery, ReactJS)</span>
        </li>
        <li>
          <span class="skill-title">Databases & NoSql</span>
          <span
            class="skill-value">PostgreSQL, MySQL, Oracle, Neo4j, ElasticSearch, Kibana, Redis, MongoDB, Cassandra, Grafana, Influxdb, Prometheus, Apache Spark, Riak</span>
        </li>
        <li>
          <span class="skill-title">Security & Cryptography</span>
          <span class="skill-value">Encryption algorithms (AES, RSA), Web security, Authentication, PKI infrastructure, SSL</span>
        </li>
        <li>
          <span class="skill-title">Other</span>
          <span class="skill-value">Test-Driven Development, Microservices architecture, Agile methodologies, Scrum, Kanban</span>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="section-header">
      <span>Experience</span>
      <hr/>
    </div>
    <div class="section-content">
      <div>
        <div class="experience-title">
          <span>Software Architect & Team Leader</span>
          <span><a target="_blank" href="https://www.2kgroup.com/">2K GROUP</a></span>
          <span>07/2022 - Current</span>
        </div>
        <div class="experience-content">
          <ul>
            <li>
              At 2K Group, I held a role as a Golang Developer, Team Leader of the Backend, and Chief Architect
              for the SuperOnlineGames project. As part of this game development project, I took on multiple
              responsibilities, including backend development, team management, and architectural design.
            </li>
            <li><b>Key Contributions:</b>
              <ul>
                <li>
                  <b>Backend Development:</b> Played a pivotal role in developing the backend infrastructure of the
                  game,
                  ensuring efficient and reliable gameplay mechanics and server-side functionalities.
                </li>
                <li>
                  <b>Team Leadership and Mentoring:</b> Led a team of developers, providing guidance, support, and
                  mentorship to
                  ensure successful project execution and individual growth.
                </li>
                <li>
                  <b>AWS Deployment:</b> Orchestrated the deployment of the game infrastructure on AWS, utilizing cloud
                  services to enhance scalability and reliability.
                </li>
                <li>
                  <b>Facial Recognition System:</b> Worked on the integration of a facial recognition system within the
                  game,
                  leveraging my technical expertise to implement this cutting-edge feature.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="experience-title">
          <span>Software Architect & Team Leader</span>
          <span><a target="_blank" href="https://www.2kgroup.com/">Billing Platform</a></span>
          <span>04/2021 - 07/2022</span>
        </div>
        <div class="experience-content">
          <ul>
            <li>
              As a Software Architect and Team Leader at BillingPlatform, I played a pivotal role in enhancing the
              application's security through application-level encryption. Leveraging my skills in AWS, KMS (Key
              Management Service), Java, Spring Boot, and microservices, I successfully implemented encryption
              mechanisms to safeguard sensitive data.
            </li>
            <li><b>Key Contributions:</b>
              <ul>
                <li>
                  <b>Application Level Encryption:</b> Led the development and implementation of robust encryption
                  techniques
                  to
                  protect application data, ensuring confidentiality and integrity.
                </li>
                <li><b>Oauth2 Implementation:</b> Orchestrated the integration of Oauth2 authentication across
                  microservices,
                  establishing a centralized authentication mechanism for enhanced security and seamless user
                  experience.
                  These initiatives not only bolstered the security of the BillingPlatform but also ensured compliance
                  with
                  industry standards and regulations. My collaborative leadership style and technical expertise were
                  instrumental in achieving these milestones.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="experience-title">
          <span>Software Architect & Team Leader</span>
          <span><a target="_blank" href="https://www.2kgroup.com/">GoldenPay</a></span>
          <span>05/2020 - 05/2021</span>
        </div>
        <div class="experience-content">
          <ul>
            <li>
              As the Chief Architect and Team Leader at Goldenpay, I provided strategic guidance and technical
              leadership for the development of a cutting-edge payment gateway system. In this role, my primary focus
              was on transitioning from a monolithic architecture to a microservices-based approach, driving improved
              scalability, flexibility, and maintainability.
            </li>
            <li><b>Key Contributions:</b>
              <ul>
                <li>
                  <b>Microservices Transformation:</b> Led the initiative to redesign and reimplement the existing
                  monolithic
                  payment gateway application into a scalable and resilient microservices architecture, ensuring
                  seamless integration and collaboration between services.
                </li>
                <li>
                  <b>Performance and Security Enhancements:</b> Implemented robust security measures and optimized
                  performance
                  through careful design and implementation choices, resulting in increased transaction efficiency and
                  enhanced data protection.
                </li>
                <li>
                  <b>Cross-Functional Team Leadership:</b> Oversaw and mentored a team of developers, guiding them
                  through the
                  architectural transformation, fostering collaboration, and ensuring the timely delivery of
                  high-quality code.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="experience-title">
          <span>Software Architect</span>
          <span><a target="_blank" href="https://www.2kgroup.com/">Crossover</a></span>
          <span>04/2017 - 12/2019</span>
        </div>
      </div>
      <div>
        <div class="experience-title">
          <span>Java backend developer</span>
          <span><a target="_blank" href="javascript:">Apexx</a></span>
          <span>11/2015 - 04/2017</span>
        </div>
      </div>
      <div>
        <div class="experience-title">
          <span>Freelancer</span>
          <span></span>
          <span>03/2011 - 11/2015</span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-header">
      <span>Open Source</span>
      <hr/>
    </div>
    <div class="section-content">
      <ul>
        <li>
          <b><a target="_blank" href="https://github.com/apibrew/apibrew">https://github.com/apibrew/apibrew</a>:</b>
          Low Code system, where you can build entire Rest APIs from UI
        </li>
        <li>
          <b><a target="_blank" href="https://github.com/tislib/download-delegator">https://github.com/tislib/download-delegator</a>:</b>
          A tool for parallel web page downloading, compatible with EC2 and AWS Lambda, enabling efficient bulk
          downloads.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="section-header">
      <span>Education</span>
      <hr/>
    </div>
    <div class="section-content">
      <div class="education-line">
        <span>Bachelor's degree on `Computer Science and Applied Math`</span>
        <span><a target="_blank" href="http://bsu.edu.az/">Baku State University</a></span>
        <span>2010 - 2014</span>
      </div>
      <div class="education-line">
        <span>Certificate: Semi-Finalist of ACM Programming Contest in Georgia 2013</span>
        <span></span>
      </div>
      <div class="education-line">
        <span>Certificate: High Achievement certificate of ACM Programming Contest 2013</span>
        <span></span>
      </div>
    </div>
  </section>
</main>
{{ end }}
