.resume-root {
    @import url(https://themes.googleusercontent.com/fonts/css?kit=3qINvnjb346LubKDfLRn69t6G6Z1RrRfgULZ1AHo7mPOfsfM6rvuuu7h1pY3r_-A);
    margin: 8px;

    ul.lst-kix_iy784a1l5h9z-5 {
        list-style-type: none
    }

    ul.lst-kix_iy784a1l5h9z-4 {
        list-style-type: none
    }

    ul.lst-kix_iy784a1l5h9z-7 {
        list-style-type: none
    }

    ul.lst-kix_iy784a1l5h9z-6 {
        list-style-type: none
    }

    ul.lst-kix_iy784a1l5h9z-8 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_qxzt34iyjy91-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_qxzt34iyjy91-0 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_iy784a1l5h9z-1 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-2 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_iy784a1l5h9z-0 {
        list-style-type: none
    }

    ul.lst-kix_iy784a1l5h9z-3 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-1 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_iy784a1l5h9z-2 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-6 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_dpieomdpoi58-0 {
        list-style-type: none
    }

    ul.lst-kix_dpieomdpoi58-1 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-5 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_dpieomdpoi58-4 {
        list-style-type: none
    }

    ul.lst-kix_dpieomdpoi58-5 {
        list-style-type: none
    }

    ul.lst-kix_dpieomdpoi58-2 {
        list-style-type: none
    }

    ul.lst-kix_dpieomdpoi58-3 {
        list-style-type: none
    }

    ul.lst-kix_dpieomdpoi58-8 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-7 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_dpieomdpoi58-6 {
        list-style-type: none
    }

    ul.lst-kix_dpieomdpoi58-7 {
        list-style-type: none
    }

    .lst-kix_qxzt34iyjy91-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_71cy10c6bo5c-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_71cy10c6bo5c-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_nbqa0t90dyuf-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_nbqa0t90dyuf-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_nbqa0t90dyuf-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_pts9osyyr6t5-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_71cy10c6bo5c-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_71cy10c6bo5c-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_nbqa0t90dyuf-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_pts9osyyr6t5-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_nbqa0t90dyuf-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_nbqa0t90dyuf-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_nbqa0t90dyuf-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_nbqa0t90dyuf-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_71cy10c6bo5c-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_71cy10c6bo5c-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_nbqa0t90dyuf-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_71cy10c6bo5c-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_71cy10c6bo5c-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_71cy10c6bo5c-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_8f2xe88dcfkj-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_q43nwmkvrt8-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_pts9osyyr6t5-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_pts9osyyr6t5-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_iy784a1l5h9z-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_iy784a1l5h9z-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_q43nwmkvrt8-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_pts9osyyr6t5-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_iy784a1l5h9z-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_q43nwmkvrt8-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_phaf4yhzxpkl-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_dpieomdpoi58-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_q43nwmkvrt8-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_pts9osyyr6t5-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_phaf4yhzxpkl-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_dpieomdpoi58-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_phaf4yhzxpkl-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_d3e76f9xvpfx-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_d3e76f9xvpfx-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_8f2xe88dcfkj-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_d3e76f9xvpfx-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_8f2xe88dcfkj-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_8f2xe88dcfkj-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_8f2xe88dcfkj-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_d3e76f9xvpfx-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_d3e76f9xvpfx-6 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_q43nwmkvrt8-7 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-6 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-8 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-3 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-2 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-5 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-4 {
        list-style-type: none
    }

    .lst-kix_dozn1kjrepgv-0 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_dozn1kjrepgv-0 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-8 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-1 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-7 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-2 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-6 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-3 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-5 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-4 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-4 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-5 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-3 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-6 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-2 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-7 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-1 {
        list-style-type: none
    }

    ul.lst-kix_dozn1kjrepgv-8 {
        list-style-type: none
    }

    ul.lst-kix_71cy10c6bo5c-0 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-1 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-0 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-3 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-2 {
        list-style-type: none
    }

    ul.lst-kix_zg3p8uoe8fdv-3 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-5 {
        list-style-type: none
    }

    ul.lst-kix_zg3p8uoe8fdv-2 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-4 {
        list-style-type: none
    }

    ul.lst-kix_zg3p8uoe8fdv-1 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-7 {
        list-style-type: none
    }

    ul.lst-kix_zg3p8uoe8fdv-0 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-6 {
        list-style-type: none
    }

    ul.lst-kix_d3e76f9xvpfx-6 {
        list-style-type: none
    }

    ul.lst-kix_8f2xe88dcfkj-8 {
        list-style-type: none
    }

    ul.lst-kix_d3e76f9xvpfx-5 {
        list-style-type: none
    }

    ul.lst-kix_d3e76f9xvpfx-8 {
        list-style-type: none
    }

    ul.lst-kix_d3e76f9xvpfx-7 {
        list-style-type: none
    }

    .lst-kix_zg3p8uoe8fdv-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_dpieomdpoi58-4 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_d3e76f9xvpfx-2 {
        list-style-type: none
    }

    ul.lst-kix_d3e76f9xvpfx-1 {
        list-style-type: none
    }

    .lst-kix_dpieomdpoi58-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_dpieomdpoi58-5 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_d3e76f9xvpfx-4 {
        list-style-type: none
    }

    .lst-kix_phaf4yhzxpkl-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_phaf4yhzxpkl-8 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_zg3p8uoe8fdv-8 {
        list-style-type: none
    }

    ul.lst-kix_d3e76f9xvpfx-3 {
        list-style-type: none
    }

    ul.lst-kix_zg3p8uoe8fdv-7 {
        list-style-type: none
    }

    ul.lst-kix_zg3p8uoe8fdv-6 {
        list-style-type: none
    }

    .lst-kix_zg3p8uoe8fdv-2 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_zg3p8uoe8fdv-5 {
        list-style-type: none
    }

    .lst-kix_zg3p8uoe8fdv-6 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_d3e76f9xvpfx-0 {
        list-style-type: none
    }

    .lst-kix_phaf4yhzxpkl-7 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_zg3p8uoe8fdv-4 {
        list-style-type: none
    }

    .lst-kix_zg3p8uoe8fdv-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_dpieomdpoi58-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_zg3p8uoe8fdv-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_dpieomdpoi58-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_zg3p8uoe8fdv-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_dpieomdpoi58-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_zg3p8uoe8fdv-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_iy784a1l5h9z-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_iy784a1l5h9z-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_zg3p8uoe8fdv-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_zg3p8uoe8fdv-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_dozn1kjrepgv-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_iy784a1l5h9z-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_dozn1kjrepgv-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_dozn1kjrepgv-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_dozn1kjrepgv-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_dozn1kjrepgv-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_dozn1kjrepgv-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_dozn1kjrepgv-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_dozn1kjrepgv-6 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_nbqa0t90dyuf-1 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-0 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-3 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-2 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-5 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-4 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-7 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-6 {
        list-style-type: none
    }

    ul.lst-kix_nbqa0t90dyuf-8 {
        list-style-type: none
    }

    .lst-kix_8f2xe88dcfkj-7 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_pts9osyyr6t5-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_q43nwmkvrt8-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_pts9osyyr6t5-5 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_q43nwmkvrt8-2 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_q43nwmkvrt8-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_iy784a1l5h9z-4 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_q43nwmkvrt8-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_iy784a1l5h9z-6 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_iy784a1l5h9z-8 > li:before {
        content: "\0025a0   "
    }

    .lst-kix_q43nwmkvrt8-6 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_pts9osyyr6t5-7 {
        list-style-type: none
    }

    ul.lst-kix_pts9osyyr6t5-6 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-8 {
        list-style-type: none
    }

    ul.lst-kix_pts9osyyr6t5-8 {
        list-style-type: none
    }

    ul.lst-kix_pts9osyyr6t5-3 {
        list-style-type: none
    }

    .lst-kix_pts9osyyr6t5-7 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_pts9osyyr6t5-2 {
        list-style-type: none
    }

    ul.lst-kix_pts9osyyr6t5-5 {
        list-style-type: none
    }

    .lst-kix_dpieomdpoi58-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_phaf4yhzxpkl-4 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_pts9osyyr6t5-4 {
        list-style-type: none
    }

    ul.lst-kix_pts9osyyr6t5-1 {
        list-style-type: none
    }

    ul.lst-kix_pts9osyyr6t5-0 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-6 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-7 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-4 {
        list-style-type: none
    }

    .lst-kix_phaf4yhzxpkl-2 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_qxzt34iyjy91-5 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-2 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-3 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-0 {
        list-style-type: none
    }

    ul.lst-kix_qxzt34iyjy91-1 {
        list-style-type: none
    }

    .lst-kix_d3e76f9xvpfx-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_phaf4yhzxpkl-0 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_d3e76f9xvpfx-7 > li:before {
        content: "\0025cb   "
    }

    ul.lst-kix_phaf4yhzxpkl-2 {
        list-style-type: none
    }

    ul.lst-kix_phaf4yhzxpkl-3 {
        list-style-type: none
    }

    ul.lst-kix_phaf4yhzxpkl-0 {
        list-style-type: none
    }

    ul.lst-kix_phaf4yhzxpkl-1 {
        list-style-type: none
    }

    .lst-kix_8f2xe88dcfkj-1 > li:before {
        content: "\0025cb   "
    }

    .lst-kix_d3e76f9xvpfx-3 > li:before {
        content: "\0025cf   "
    }

    .lst-kix_8f2xe88dcfkj-5 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_phaf4yhzxpkl-6 {
        list-style-type: none
    }

    ul.lst-kix_phaf4yhzxpkl-7 {
        list-style-type: none
    }

    ul.lst-kix_q43nwmkvrt8-1 {
        list-style-type: none
    }

    ul.lst-kix_phaf4yhzxpkl-4 {
        list-style-type: none
    }

    .lst-kix_d3e76f9xvpfx-5 > li:before {
        content: "\0025a0   "
    }

    ul.lst-kix_q43nwmkvrt8-0 {
        list-style-type: none
    }

    ul.lst-kix_phaf4yhzxpkl-5 {
        list-style-type: none
    }

    .lst-kix_8f2xe88dcfkj-3 > li:before {
        content: "\0025cf   "
    }

    ul.lst-kix_phaf4yhzxpkl-8 {
        list-style-type: none
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c12 {
        padding-top: 0pt;
        border-top-width: 1pt;
        border-bottom-color: #000000;
        padding-bottom: 16pt;
        line-height: 1.0;
        border-top-style: solid;
        border-bottom-width: 1pt;
        border-top-color: #000000;
        border-bottom-style: solid;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c3 {
        margin-left: -13.5pt;
        padding-top: 24pt;
        padding-bottom: 10pt;
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c2 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 24pt;
        font-family: "Proxima Nova";
        font-style: normal
    }

    .c21 {
        padding-top: 4pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: right;
        height: 11pt
    }

    .c6 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Proxima Nova";
        font-style: normal
    }

    .c5 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 1pt;
        font-family: "Proxima Nova";
        font-style: normal
    }

    .c18 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 0;
    }

    .c25 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c20 {
        padding-top: 10pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c19 {
        padding-top: 24pt;
        padding-bottom: 10pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c1 {
        padding-top: 4pt;
        padding-bottom: 0pt;
        line-height: 1.2;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c8 {
        padding-top: 10pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c22 {
        color: #666666;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 10pt;
        font-family: "Proxima Nova";
        font-style: normal
    }

    .c16 {
        color: #00ab44;
        text-decoration: none;
        vertical-align: baseline;
        font-family: "Proxima Nova";
        font-style: italic
    }

    .c17 {
        color: #00ab44;
        text-decoration: none;
        vertical-align: baseline;
        font-family: "Proxima Nova";
        font-style: normal
    }

    .c14 {
        text-decoration-skip-ink: none;
        -webkit-text-decoration-skip: none;
        color: #1155cc;
        text-decoration: underline
    }

    .c11 {
        font-style: italic;
        color: #666666;
        font-weight: 400
    }

    .c26 {
        text-decoration: none;
        vertical-align: baseline;
        font-family: "Proxima Nova"
    }

    .c27 {
        border-top-width: 3pt;
        border-top-color: #000000;
        border-top-style: solid
    }

    .c30 {
        background-color: #ffffff;
        padding: 10px;
    }

    .c10 {
        padding: 0;
        margin: 0
    }

    .c0 {
        color: inherit;
        text-decoration: inherit
    }

    .c28 {
        color: #000000;
        font-style: normal
    }

    .c13 {
        font-weight: 400
    }

    .c9 {
        padding-left: 0pt
    }

    .c31 {
        color: #000000
    }

    .c24 {
        font-style: italic
    }

    .c15 {
        font-size: 12pt
    }

    .c4 {
        margin-left: 36pt
    }

    .c7 {
        font-size: 14pt
    }

    .c23 {
        color: #353744
    }

    .c29 {
        color: #00ab44
    }

    .title {
        padding-top: 6pt;
        color: #353744;
        font-size: 30pt;
        padding-bottom: 0pt;
        font-family: "Proxima Nova";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #00ab44;
        font-size: 18pt;
        padding-bottom: 0pt;
        font-family: "Proxima Nova";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Proxima Nova"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Proxima Nova"
    }

    h1 {
        padding-top: 24pt;
        color: #00ab44;
        font-weight: 700;
        font-size: 14pt;
        padding-bottom: 10pt;
        font-family: "Proxima Nova";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 10pt;
        color: #353744;
        font-weight: 700;
        font-size: 12pt;
        padding-bottom: 0pt;
        font-family: "Proxima Nova";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 10pt;
        color: #353744;
        font-weight: 700;
        font-size: 11pt;
        padding-bottom: 0pt;
        font-family: "Proxima Nova";
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 8pt;
        -webkit-text-decoration-skip: none;
        color: #666666;
        text-decoration: underline;
        font-size: 11pt;
        padding-bottom: 0pt;
        line-height: 1.2;
        page-break-after: avoid;
        text-decoration-skip-ink: none;
        font-family: "Trebuchet MS";
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 8pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 0pt;
        font-family: "Trebuchet MS";
        line-height: 1.2;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 8pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 0pt;
        font-family: "Trebuchet MS";
        line-height: 1.2;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
}
