@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
  }

  main.resume {
    border: none !important;
    margin: 0 auto !important;
  }

  .resume-download-link, .navigation, .footer, .float-container {
    display: none;
  }
}

main.resume {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000;
  border: 1px solid black;
  box-sizing: initial;

  div, p, li {
    margin: 0;
    line-height: initial;
  }

  header {
    display: flex;
    padding: 5px 20px 0;

    .profile {
      flex: 1;
      display: flex;
      flex-direction: column;

      .full-name {
        margin-top: 13px;
        font-size: 20px;
        font-weight: 800;
      }

      .headline {
        color: rgb(15, 82, 186);
        margin-top: 13px;
        font-size: 15px;
        font-weight: 800;
      }
    }

    .social-container {
      display: flex;
      flex-direction: column;
      border-left: 1px solid black;
      padding-left: 10px;
      width: 300px;

      .social-item {
        font-size: 15px;
      }

      .social-item i {
        margin-right: 5px;
        color: rgb(15, 82, 186);
      }

      a, span {
        color: black;
      }

      .social-item-separator {
        margin: 0 2px;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  .controls {
    position: absolute;
  }

  section {
    padding: 5px 20px 0;
  }

  .section-header {
    color: rgb(15, 82, 186);
    font-size: 18px;
    font-weight: bold;
  }

  .section-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-header span {
    display: inline-block;
    background: white;
    padding-right: 5px;
  }

  .section-header hr {
    margin-top: -6px;
  }

  .skill-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }

  .skill-value {
  }

  ul {
    margin: 0 !important;
    padding: 0 0 0 10px;
  }
}

* {
  transition: none !important
}

.experience-title {
  font-size: 15px;
  font-weight: bold;
  display: flex;

  > span {
    flex: 1;
  }

  span:first-child {
    text-align: left;
  }

  span:last-child {
    text-align: right;
  }

  span:nth-child(2) {
    text-align: center;
  }
}

.education-line {
  font-size: 13px;
  font-weight: bold;
  display: flex;

  > span {
    flex: 1;
  }

  span:first-child {
    text-align: left;
    flex: 3;
  }

  span:last-child {
    text-align: right;
  }

  span:nth-child(2) {
    text-align: center;
  }
}

.resume-download-link {
  position: absolute;
  left: 10px;
  top: 100px
}
